# HLS Proxy
HLS_PROXY_PORT=8089
HLS_PROXY_UA="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
HLS_PROXY_REFERER=

# M3U Refresh
M3U_OUTPUT=/path/to/jellyfin/config/iptv.m3u
HLS_PROXY_URL=http://127.0.0.1:8089
CHANNELS_CONF=/path/to/channels.conf
